ScoreOverlay
{
	zorder 500
	
	container Panel(ScorePanel1)
	{
        left 0.25
        top 0
        width 0.5
        height 0.3
			
		element TextArea(ScoreText1)
		{
			left 0
			top 0.9
			char_height 0.1
			font_name BerlinSans32
			caption My Score Here
		}
	}
}

ResultOverlay
{
	zorder 500
	
	container Panel(ResultPanel1)
	{
        left 0.2
        top 0.4
        width 0.5
        height 0.5
			
		element TextArea(ResultText1)
		{
			left 0.25
			top 0.0
			char_height 0.1
			font_name StarWars
			caption My Score Here
		}

		element TextArea(ResultYourScoreText1)
		{
			left 0
			top 0
			char_height 0.03
			font_name StarWars
			caption Your Score
		}
	}
}

MenuOverlay
{
	zorder 500
	
	container Panel(MenuPanel1)
	{
        left 0.25
        top 0
        width 0.5
        height 0.3
			
		element TextArea(DebugText1)
		{
			left 0
			top 0.0

			width 0.5
			height 0.3

			char_height 0.1
			font_name BerlinSans32
			caption DEBUG HERE
		}
	}
}